html, body{
  height:100%;
    
    background-color: white;
        margin: 0px;
    padding: 0px;
}


.firsttext{
     height: 100%;
         max-height: 1080px;
    background-color:transparent;
    
}

.liten1{
    font-size: 9pt;
    font-family: "adobe-garamond-pro";
        padding-left: 20%;
}

.site{
  display: flex;
  justify-content: center;
  align-items: center;
    outline: none !important;
    *:focus {
    outline: none;
}

    
}
.header{
    z-index: 9;
    padding-top: 10%;
}

h1 {
    font-family: interstate, sans-serif;
    text-align: center;
font-weight: 900;
font-style: normal;
    font-size: 30pt;
    margin: 0;
    letter-spacing: -1px;
    position: absolute;
    top:65%;
    padding-left: 43%;
    z-index: 9;
}


