html, body{
  height:100%;
    background-color: burlywood;
        margin: 0px;
    padding: 0px;
}

.test-col {
    background-color: burlywood;
    padding: 0;
    margin: 0;
}

.container {
    
    margin: 0;
}

.font_properties{
    font-family: "futura";
}


.paddings{
    padding-left: 20%;
}
.firsttext{
     height: 100%;
         max-height: 1080px;
    background-color:darkseagreen;
    
}
.listtext{
    
    background-color:burlywood;
    
}
.liten1{
    font-size: 8pt
}

.site{
    position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.header{
    padding-top: 30%;
}

h2{
    font-family: "futura";
        margin: 0;
    font-size: 20pt;
}

p {
    font-family: "garamond"
}

h3{
    display: block;
    font-size: 12pt;
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
}

.footer {
     padding-bottom: 10px;
    font-size: 9pt;
   
}
.line {
    height: 1px;
    background-color: darkgreen;
}

h1 {
    margin: 0;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  
  border-top: 20px solid burlywood;
    
    
    position: relative;
    
    animation-name: example;
    animation-duration: 5s;    
    animation-delay: 1s;
    animation-fill-mode: both;
}

@keyframes example {
    from {top: 0px; background-color: transparent;}
    to {top: 300px; background-color: transparent;}
}

.more content {
    
    
}

h4 {
    font-size: 20pt;
    margin: 0;
}

.display-none {
    display: none;
}

.rightbutton{
    align-self: center;
}